deep_learning_manning/01_deep_learning_computer_vision/01_dogs_vs_cats/dogs_and_cats_original_data/
deep_learning_manning/01_deep_learning_computer_vision/01_dogs_vs_cats/dogs_and_cats_small/
deep_learning_hands_on/supervised_learning/02_convolutional_neural_network/dataset/
machine_learning/Part 08 - Deep Learning/Section 40 - Convolutional Neural Networks (CNN)/dataset
